.App {
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-image: url('./waldobackground.jpg');
  background-size: cover;
  font-family: 'Belleza', sans-serif;
}
h1 {
  margin: 0px;
  font-size: 50px;
}
p {
  margin: 0px;
}
.mainHeader {
  color: white;
  -webkit-box-shadow: 0px 2px 4px #000000;
  -moz-box-shadow: 0px 2px 4px #000000;
  box-shadow: 0px 2px 4px #000000;
  background-color: black;
  min-height: 125px;
}
.waldoBackground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 1000px;
}
.levelsContainer {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  background-color: black;
  -webkit-box-shadow: 0px 2px 4px #000000;
  -moz-box-shadow: 0px 2px 4px #000000;
  box-shadow: 0px 2px 4px #000000;
  border: 2px solid black;
  overflow: hidden;
}
.level1 {
  width: 500px;
  font-family: 'Belleza', sans-serif;
  font-size: 50px;
  background-image: url('./level1.jpg');
  background-size: cover;
  border: none;
  text-shadow: 0px 0px 4px #000000;
  color: yellowgreen;
}
.level2 {
  color: white;
  border: none;
  border-top: 1px solid black;
  width: 500px;
  font-family: 'Belleza', sans-serif;
  font-size: 50px;
  background-image: url('./level2.jpg');
  background-size: cover;
  text-shadow: 0px 0px 4px #000000;
  color: gold;
}
.level3 {
  width: 500px;
  font-family: 'Belleza', sans-serif;
  font-size: 50px;
  background-image: url('./level3.jpg');
  background-size: cover;
  border: none;
  text-shadow: 0px 0px 4px #000000;
  color: blue;
}
.mainHeaderSubtext {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 500px) {
  .levelsContainer {
    width: 300px;
    min-height: 750px;
  }
  .mainHeaderSubtext {
    width: 300px;
  }
}

