.mainBodyLeaderboards {
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.75);
    color: gold;
    font-family: 'Belleza', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}
.leaderboardsLevel1Button {
    border-radius: 5px;
    width: 250px;
    height: 75px;
    font-family: 'Belleza', sans-serif;
    font-size: 50px;
    background-image: url('./level1.jpg');
    background-size: cover;
    border: 2px solid black;
    text-shadow: 0px 0px 4px #000000;
    color: yellowgreen;
    text-decoration: underline;
}
.leaderboardsLevel2Button {
    border-radius: 5px;
    width: 250px;
    height: 75px;
    font-family: 'Belleza', sans-serif;
    font-size: 50px;
    background-image: url('./level2.jpg');
    background-size: cover;
    border: 2px solid black;
    text-shadow: 0px 0px 4px #000000;
    color: gold;
    text-decoration: underline;    
}
.leaderboardsLevel3Button {
    border-radius: 5px;
    width: 250px;
    height: 75px;
    font-family: 'Belleza', sans-serif;
    font-size: 50px;
    background-image: url('./level3.jpg');
    background-size: cover;
    border: 2px solid black;
    text-shadow: 0px 0px 4px #000000;
    color: rgb(255, 168, 248);
    text-decoration: underline;
}
.backToHome {
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 10px;
    background-color: red;
    color: white;
    height: 50px;
    width: 70px;
    font-size: 30px;
    border-radius: 2px;
    font-family: 'Belleza', sans-serif;
}