.mainBody {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'Belleza', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    font-size: 20px;
}
.nameInput {
    font-family: 'Belleza', sans-serif;
    border-radius: 5px;
}
.submitScoreButton {
    font-family: 'Belleza', sans-serif;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}