.levelBackground {
    position: relative;
    background-image: url('./repeatingbackground.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backButton {
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 5px;
    background-color: red;
    color: white;
    height: 40px;
    width: 60px;
    font-size: 20px;
    border-radius: 2px;
    font-family: 'Belleza', sans-serif;
}
.levelImage {
    width: 800px;
}
.charactersHeader {
    background-color: rgba(0, 0, 0, 0.500);
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.charactersIconWaldo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url('./waldo.jpg');
    background-size: cover;
    background-position: 20%;
    background-blend-mode: soft-light;
}
.charactersIconWizard {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url('./wizard.png');
    background-size: cover;
    background-position: 20%;
    background-blend-mode: soft-light;
}
.charactersIconSelector {
    justify-self: flex-end;
    width: 25px;
    height: 25px;
}
.popUpCircle {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.500);
    border: 1px dashed white;
}
.popUpCharacterSelectorContainer {
    font-family: 'Belleza', sans-serif;
    width: 100px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}
.popUpCharacterSelectorButton {
    display: flex;
    font-family: 'Belleza', sans-serif;
    justify-content: space-evenly;
    max-height: 25px;
    font-size: 18px;
    border: none;
    width: 100px;
    border-radius: 0px;
    color: white;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    .levelImage {
        width: 360px;
    }
}